<div class="logo container">
    <h1 class="text-center">Comment</h1>
</div>
<div class="container">
    <h2 class="text-center">
        <span>About Comment</span>
    </h2>
    <p class="text-center">コメント投稿アプリです<br>匿名でコメントできるので、気軽に利用してみてください</p>
</div>
